@import "tailwindcss";

@theme {
    --color-primary: #000000;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}